streamlit>=1.32.0
pandas>=2.1.0
plotly>=5.18.0  
google-genai
transformers>=4.39.0
torch>=2.0.0  # Required for transformers
python-dotenv

# .\.venv\Scripts\python -m streamlit run sign.py {Run commands}